.container {
    padding: 1rem;
}

.header_accomodations {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

.header_accomodations h1 {
    font-size: 1.4rem;
    font-weight: 400;
    margin: 0;
}

.header_accomodations button {
    display: flex;
    gap: .5rem;
    font-size: .9rem;
    padding: .7rem 1.2rem;
    background-color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    transition: background-color .3s, transform .3s;

    &:hover {
        transform: scale(1.05);
        background-color: #333;
    }
}


.card_box {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
    gap: 1rem;
}

.card {
    display: grid;
    grid-template-columns: 8fr 1fr;
    background-color: #fff;
    border-radius: .5rem;
    padding: .5rem 1rem;
}

.card .information h3 {
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.5rem;
}

.card .information p {
    font-size: .9rem;
    color: #4B5563;
}

.card .information p svg {
    vertical-align: top;
}

.card .information .information_text{
    color: #6B7280;
}

.card .actions {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .container {
        padding: 0 .5rem;
    }

    .header_accomodations {
        padding: .5rem 0;
        gap: 1rem;
        flex-direction: column;
    }

    .header_accomodations button {
        align-items: center;
        font-size: .8rem;
    }

    .card {
        text-align: center;
        grid-template-columns: 1fr;
    }

    .card .information {
        margin-bottom: 1rem;
    }

    .card .actions {
        justify-content: space-around;
    }
}