:root {
    --secundary-color: #d8d9dc;
    --subtitle-color: #4B5563;
}

/* Modal.css */
.modal_overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal_content {
    position: relative;
    background: white;
    /* padding: 0 1.2rem; */
    border-radius: 5px;
    max-width: 500px;
    width: 100%;
}

.modal_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--secundary-color);
    padding: 0 1.3rem;
}

.modal_header .close_button {
    background: none;
    border: none;
    cursor: pointer;
    color: var(--secundary-color);
    font-size: 1.2rem;
    font-weight: bold;
    transition: color 0.3s;

    &:hover {
        color: black;
    }
}

.modal_body {
    padding: 1.2rem;
}

.booking_info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.booking_status {
    display: flex;
    width: 50%;
    font-size: .8rem;
    background-color: #FEF9C3;
    color: #854D0E;
    border-radius: 10px;
    padding: .3rem .2rem;
    justify-content: center;
    gap: .3rem;
}

h3 {
    margin: 0;
    padding: 0 .4rem;
}

.box_id {
    text-align: end;
    font-size: .9rem;
    color: #6B7280;
}

.booking_location {
    display: grid;
    grid-template-columns: .1fr 1fr;
    color: var(--subtitle-color);
    align-items: center;
}

.booking_location svg {
    font-size: 1rem;
    padding: 0 .5rem;
}

.section_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    margin-top: 1rem;
}

.guest_information {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

/* .close_button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
} */